<tr>
  <td class="content_cell content_b brt tc">
    <table role="presentation" class="column" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="column_cell py tc">
            <a href="#"><img src="https://s3-eu-west-1.amazonaws.com/perfocal-asset/email/logo.png" width="136" height="32" alt="Perfocal Limited website" style="max-width:140px;" /></a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
